<p id="notice"><%= notice %></p>

<p>
  <b>Order number:</b>
  <%= @work_order.order_number %>
</p>

<p>
  <b>Order name:</b>
  <%= @work_order.order_name %>
</p>

<p>
  <b>Order price:</b>
  <%= @work_order.order_price %>
</p>

<p>
  <b>Customer name:</b>
  <%= @work_order.customer_name %>
</p>

<p>
  <b>Design notes:</b>
  <%= @work_order.design_notes %>
</p>


<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
